<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 mt-5">

      <%= form_with url: movies_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a movie"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>


      <div id="movies" class="mt-4">
        <% @results.each do |result| %>
          <% movie_or_tv_show = result.searchable %>
          <h4>
            <%= movie_or_tv_show.title %>
            <% if movie_or_tv_show.is_a?(Movie) %>
              (<%= movie_or_tv_show.director.name %>)
            <% end %>
          </h4>
          <p><%= movie_or_tv_show.synopsis %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
